<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/global.css">

     <!-- external css start-->
     <link rel="stylesheet" href="/stylesheet/Error404.css">
     <!-- external css end-->

    <title>Error</title>
</head>
<body>
    <div class="container">
        <img src="https://image.freepik.com/free-vector/404-error-abstract-concept-illustration_335657-2243.jpg" alt="" height="300px">
        <a href="/dashboard">User Dashboard</a>
    </div>
</body>
</html>